---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';
import ArticleList from '@/components/ArticleList.astro';

const posts = await getCollection('mindset');

---
<MainLayout title="Mindset">
  <h1>Mindset</h1>
  <ArticleList posts={posts} collectionName="mindset" />
</MainLayout>
