---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';
import ArticleList from '../../components/ArticleList.astro';

const posts = await getCollection('blog');
const sortedPosts = posts.sort((a, b) =>
  b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---
<MainLayout title="Blog">
  <h1>Blog Posts</h1>
  <ArticleList posts={sortedPosts} collectionName="blog" />
</MainLayout>
