---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';
import ArticleList from '../../components/ArticleList.astro';

const posts = await getCollection('guides');
---

<MainLayout title="Guides">
  <h1>Guides</h1>
  <ArticleList posts={posts} collectionName="guides" />
</MainLayout>
