---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';
import ArticleList from '../../components/ArticleList.astro';

const posts = await getCollection('testing');
---

<MainLayout title="Testing">
  <h1>Testing</h1>
  <ArticleList posts={posts} collectionName="testing" />
</MainLayout>
