---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';
import ArticleList from '../../components/ArticleList.astro';

const posts = await getCollection('design-systems');
---

<MainLayout title="Design Systems">
  <h1>Design Systems</h1>
  <ArticleList posts={posts} collectionName="design-systems" />
</MainLayout>
