---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';
import ArticleList from '../../components/ArticleList.astro';

const posts = await getCollection('composables');
---

<MainLayout title="Composables">
  <h1>Composables</h1>
  <ArticleList posts={posts} collectionName="composables" />
</MainLayout>
