[data-split] {
  --gap: initial;
  --split-align: initial;
  --largest-width: calc(100% - max(0rem, var(--gap, 0rem)));
  --split-min-width: initial;
  --collapse-at: 40rem;

  --collapse: calc(var(--collapse-at) - var(--gap, 0rem));
  align-items: var(--split-align, start);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 0rem);
}

[data-split] > * {
  flex-grow: 1;
}

[data-split] > *:nth-child(1) {
  flex-basis: max(
    var(--split-min-width, 0rem),
    calc(var(--largest-width) * 0.5)
  );
}

[data-split] > *:nth-child(2) {
  flex-basis: calc(
    (max(var(--collapse, 0rem), var(--largest-width)) - var(--largest-width)) *
      666
  );
  min-inline-size: max(
    min(var(--split-min-width, 0), 100%),
    calc(var(--largest-width) * 0.5)
  );
  flex-grow: 666;
}

[data-split-1-4] > *:nth-child(1) {
  flex-basis: max(
    var(--split-min-width, 0px),
    calc(var(--largest-width) * 0.25)
  );
}
[data-split-1-3] > *:nth-child(1) {
  flex-basis: max(
    var(--split-min-width, 0px),
    calc(var(--largest-width) * 0.333333)
  );
}
[data-split-1-2] > *:nth-child(1) {
  flex-basis: max(
    var(--split-min-width, 0px),
    calc(var(--largest-width) * 0.5)
  );
}
[data-split-2-3] > *:nth-child(2) {
  flex-basis: max(
    var(--split-min-width, 0px),
    calc(var(--largest-width) * 0.333333)
  );
  flex-grow: 1;
}
[data-split-3-4] > *:nth-child(2) {
  flex-basis: max(
    var(--split-min-width, 0px),
    calc(var(--largest-width) * 0.25)
  );
  flex-grow: 1;
}

:is([data-split-1-4], [data-split-1-3], [data-split-1-2]) > *:nth-child(2) {
  flex-basis: calc(
    (max(var(--collapse, 0px), var(--largest-width)) - var(--largest-width)) *
      666
  );
  min-inline-size: max(
    min(var(--split-min-width, 0), 100%),
    calc(var(--largest-width) * 0.5)
  );
  flex-grow: 666;
}

:is([data-split-3-4], [data-split-2-3]) > *:nth-child(1) {
  flex-basis: calc(
    (var(--collapse, var(--largest-width)) - var(--largest-width)) * 666
  );
  min-inline-size: max(
    min(var(--split-min-width, 0), 100%),
    calc(50% - var(--gap))
  );
  flex-grow: 666;
}

[data-reverse] {
  flex-direction: row-reverse;
}
