---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';
import ArticleList from '../../components/ArticleList.astro';

const posts = await getCollection('tooling');
---

<MainLayout title="Tooling">
  <h1>Tooling</h1>
  <ArticleList posts={posts} collectionName="tooling" />
</MainLayout>
