---
const today = new Date();
---

<footer data-stack data-gap="m">
  <hr />
  <p>&copy; {today.getFullYear()} Your name here. All rights reserved.</p>
  <p>
    Created with <a href="https://astro.build" target="_blank" rel="noopener noreferrer">Astro</a>.
    Content written in <a href="https://www.typora.io/" target="_blank" rel="noopener noreferrer">Typora</a>.
  </p>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
</style>
