---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';
import ArticleList from '../../components/ArticleList.astro';

const posts = await getCollection('architecture');
---

<MainLayout title="Architecture">
  <h1>Architecture</h1>
  <ArticleList posts={posts} collectionName="architecture" />
</MainLayout>
