---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';
import ArticleList from '../../components/ArticleList.astro';

const posts = await getCollection('vue-idioms');

---
<MainLayout title="Vue Idioms">
  <h1>Vue Idioms</h1>
  <ArticleList posts={posts} collectionName="vue-idioms" />
</MainLayout>
