---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const { title, publishDate, description } = post.data;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main>
      <div class="intersection top left"></div>
      <div class="intersection top right"></div>
      <div class="intersection bottom left"></div>
      <div class="intersection bottom right"></div>

			<article data-stack data-gap="m">
				<div class="hero-image">

				</div>
				<div class="prose" data-stack data-gap="m">
					<div class="title">
						<div class="date">


						</div>
						<h1>{title}</h1>
						<hr />
					</div>

					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
