---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import MainNav from '../components/MainNav.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title || SITE_TITLE} description={description || SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
    <div data-split data-split-3-4 data-align="start">
      <main data-stack data-gap="m">
        <slot />
      </main>
      <aside>
        <MainNav />
      </aside>

    </div>
		<Footer />
	</body>
</html>

<style>
  body > div {
    max-inline-size: 60rem;
    margin-inline: auto;
    margin-block: var(--space-2xl);
  }


  aside {
    flex-grow: 0;
    position: sticky;
    top: var(--space-l);
  }
</style>
